@import '~antd/dist/antd.css';


.header{
display: flex;
flex-direction: column;
}

.headerContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 650px;
}

input[type="text"] {
    height: 25px;
}

.search {
    width: 120px;
    height: 45px;
}

.headerButton{
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reserveItem {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.selectRooms {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 10px;
    color: gray;
}

.room {
    display: flex;
    flex-direction: column;
}
