h1{
    font-weight: bolder;
}

.buttonHotel{
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 750px;
    margin-right: 50px;
    display: inline-block;
}

.backButton, .action{
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
