.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input[type="text"]{
    width: 250px;
    height: 50px;
}

input[type="password"]{
    width: 250px;
    height: 50px;
}

.loginButton {
    width: 180px;
    border: none;
    padding: 10px 15px;
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.loginButton:disabled {
    background-color: green;
    cursor: not-allowed;
}