.hotelContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 210px;
    text-align: center;
    margin-left: 800px;
}

input[type="text"] {
    padding: 10px 15px;
    width: 200px;
}

input[type="number"] {
    padding: 10px 15px;
    width: 200px;
}

select{
    padding: 10px 15px;
    width: 230px;
}

.newHotelButton {
    background-color: green;
    color: white;
    padding:8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 20px;
    display: inline-block;
}

.backHotelButton{
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}