.hotelContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    text-align: center;
    margin-left: 800px;
}

input[type="text"] {
    padding: 10px 15px;
    width: 200px;
}

input[type="number"] {
    padding: 10px 15px;
    width: 200px;
}

select{
    padding: 10px 15px;
    width: 230px;
}

.newHotelButton {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin-left: 35px;
}