.updateContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 210px;
    text-align: center;
    margin-left: 800px;
}

.updateHotel {
    background-color: green;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 10px;
    display: inline-block;
}

.updateBack {
    background-color: green;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"],
select {
    width: 250px;
    height: 50px
}

input[type="number"] {
    width: 250px;
    height: 50px
}